img[alt="logo luporum"] { width: 200px; }
img[alt="minilogo luporum"] { width: 50px; float: left; }
img[alt="minilogo openwrt"] { width: 100px; float: right; }
#lupus h4 {text-align: left; margin: 0 0 20px 0; padding: 0 5%; }
img[alt^="lupetto"] { padding-bottom: 5px; }